body {
    font-family: sans-serif;
}
.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid blue; */
    background-color: rgb(248,250,252);
    background-image:url(./Image/BackgroundPattern.png);
    background-repeat: no-repeat;
    background-position: center;
}

.login {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 30px;
    width: 25%;
    height: 40%;
    background-color: white;
    box-shadow: 2px 2px 15px rgb(248,250,252);
}
.form {
    width: 80%;
}
.sign {
    font-size: 20px;
    font-weight: 600;
}
label {
    font-size: 12px;
}

input {
    /* width: 250px; */
    width: 100%;
    height: 28px;
    margin: 10px 0;
    border: 0.01px solid grey;
    border-radius: 5px;
}
button {
    margin: 20px 0;
    width: 100%;
    height: 32px;
    color: white;
    background-color: rgb(88,81,242);
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
}

.forget {
    text-align: center;
    font-size: 10px;
    margin-top:10px ;
}

.error {
    text-align: center;
    color: red;
    font-size: 14px;
}
.down p{
    text-align: start;
    margin-top: -50px;
    font-size: 14px;
}


/* media querry */

@media only screen  and (max-width:780px){
    .main {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        /* border: 1px solid blue; */
        background-color: rgb(248,250,252);
        background-image:url(./Image/Background.png);
        background-repeat: no-repeat;
        background-position: center;
    }

    .login {
        width: 60%;
        height: 70%;
        /* border: 1px solid red; */
        box-shadow: 2px 2px 10px rgb(248,250,252);
        padding: 25px 20px;
        background-color: white;
    }
    
    .sign {
        font-size: 14px;
        font-weight: 600;
    }
}


/* profile style */
.profile {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 10px;
    padding: 5px;
}
h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.left {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px 10px;
}
.right {
    /* border: 1px solid blue; */
    padding: 20px;
}

.first {

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 100px;
    font-size: 20px;
    gap: 10px;
    border: 1px solid green;
    padding: 50px;
    list-style-type:circle;
    box-shadow: 3px 3px 15px green;
}

img {
    border: 1px solid black;
    box-shadow: 3px 3px 15px green;
}

#name{
    font-size: larger;
    font-weight: bold;
    margin-left: 90px;
    padding: 5px;
}
